<p>Now viewing the <%= @gallery.name %> gallery</p>
<a href="/galleries/<%= @gallery.id %>/edit">Edit this gallery</a>
<a href="/galleries/<%= @gallery.id %>/images/new">Add a new image</a>
<form action="/galleries/<%= @gallery.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete Gallery" />
</form>

<ul>
  <% @images.each do |image| %>
    <li><img src="<%= image.url %>" /></li>
    <form action="/galleries/<%= @gallery.id %>/images/<%= image.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE" />
      <input type="submit" value="Delete this picture" />
    </form>
    <a href="/galleries/<%= @gallery.id %>/images/<%= image.id %>/edit">Edit this image</a>
  <% end %>
</ul>
